{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "useTabs": false,
  "endOfLine": "lf",
  "printWidth": 120
}
